:root {
  --font1:'Raleway', sans-serif;
  --font2:'Montserrat', sans-serif;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
body{
  background-color: #FFF;
  /*background-image: url("tile.png");*/


}
#refresh{
  float: right;
  cursor: pointer;
}

header form{
  float: right;

}

header form .mdl-textfield{
  padding: 0px;
}


.item_inner {
  display: inline-block;
  
}

.img>img{
  max-width: 300px;
  border-radius: 8px;

}

.title{
  font-size: 26px;
  font-weight: bold;
}
.content{
  font-size: 20px;
}
.title,.content,.viewmore>a{
  padding: 5px;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  clear: both;
}

.container {
  display: flex;
  flex-wrap: wrap;

}

.card {
  margin: 1rem;
  border-radius: 8px;
  background-image: linear-gradient(-45deg, #3EB072,#69B84F); 
  box-shadow: 0 12px 35px 0 rgba(0, 0, 0, 0.2), 0 16px 18px 0 rgba(0, 0, 0, 0.19);
  
}
.mdl-chip{
  background: #fff;
  color: #69B84F;
  text-transform: uppercase;
  font-family: var(--font2);
  cursor: pointer;
  font-weight: 600;
}
.imgclass {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.imageHolder {
  height: 100%;
  
  align-items: center;
}
.imageHolder>img {
  height: auto;
  width: 100%;
  align-self: center;
  border-top-left-radius: 8px;  
  border-top-right-radius: 8px;
}
p{
  font-size: 18px;
}
h4,p{
  padding: 10px;
  color: #fff;
  font-family: var(--font1);
}
.category{
  text-align: center;
  margin: 10px;
}
#settingsicon{
  float: right;
  margin: 15px;
  cursor: pointer;
  color: #FFF;
}

.demo-list-control {
  width: 300px;
}

.demo-list-radio {
  display: inline;
}

.heading{
  font-size: 22px;
  color: #fff;
  font-family: var(--font1);

}
.mdl-list__item{
  color: #FFF;
  font-family: var(--font1);
}
.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 40px;
    right: 28px;
    display: none;

 }

 .dummy{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
display: none;
}
h5{
  padding: 10px;
  color: #fff;
  font-family: var(--font1);
  margin: 0px;
  font-weight: 600;
  line-height: normal;

}

.info{
  text-align: center;
  color: #FFF;
  font-family: var(--font1);
  font-size: 26px;
  top: 20%;
  position: absolute;
  width: 100%;
  line-height: normal;
}
.mdl-layout__header{

  font-style: var(--font1)!important;
  background-color: #1B1B1B;
}
.mdl-layout__drawer-button{
  background-color: #1B1B1B!important;

}
@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }

}

@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}

.number{
  margin: 22px;
  border: 1px;
  padding: 12px;
  background-color: #4A4D54;
  border-radius: 10px;
  color: #FFF;
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Space Mono', monospace;
 -webkit-box-shadow: 4px 3px 36px 10px rgba(0,0,0,0.57);
-moz-box-shadow: 4px 3px 36px 10px rgba(0,0,0,0.57);
box-shadow: 4px 3px 36px 10px rgba(0,0,0,0.57);
}
.number>h3{
  font-family: 'Space Mono', monospace;
  font-size: 30px;
  margin: 12px;

}
.count{
  font-size: 40px;
}

.root2{
 text-align: center;
 max-width: 500px;
 margin: 0 auto;
font-family: 'Space Mono', monospace;
}
#octane{
  text-align: center;
}
.alldata,.countrydata{
  text-align: center;
  color: #4385EC;
  max-width: 600px;
  margin: 0 auto;
  padding: 15px;
  border-radius: 10px;
  font-family: 'Space Mono', monospace;
  font-size: 22px;
  line-height: 1.6;
  margin-top: 15px;
  display: none;
  
}
.submitsection{
  text-align: center;
  margin-top: 15px;
  display: none;
}
.alldata>span,.countrydata>span{
  color: #2A2833;
  font-size: 26px;
  font-weight: bold;

}
.mdl-navigation__link>img{
  max-width: 40px;
}
.mdl-navigation__link{
  text-align: center;
}
